.characters {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  /* grid-template-rows: repeat(2, auto ); */
  gap: 1rem;
}

@media (width >= 768px) {
  .characters {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (width >= 1024px) {
  .characters {
    grid-template-columns: repeat(8, 1fr);
  }
}
