.allSpecificWeapons {
  color: aliceblue;

  /* width: auto; */
}

@media (width >= 768px) {
  .allSpecificWeapons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
   
  }
}
