.searchFieldContainer{
  color: rgb(224, 10, 10);
  text-align: center;
}
.searchField{
  color: rgb(7, 39, 67);
  font-size: x-large;
  width: auto;
  background-color: rgb(13 230 225);
  border-radius: 4%;
  margin-bottom: 18px;
  text-align: center;
}