.genshinFooter{
  color: black;
  text-align: center;
  padding: 35px;
  position: absolute;
 
 
  z-index: 9999;
}
.genshinFooterText{
  color: black;
  background-color: rgba(29, 14, 247, 0.485);
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 45px;

}

.weaponLink{
  color: rgb(4, 13, 36);
  display: ruby;
  font-size: large;
}

.artifactsLink{
  color: rgb(0, 0, 0);
 
  
  


}