.header {
  margin-left: auto;
  margin-right: auto;
}
.image {
  margin-left: auto;
  margin-right: auto;

  height: 29dvh;
  width: 100%;
  border-radius: 5%;
}
@media (width >= 768px) {
  .image {
    object-fit: contain;
    padding: 1px;
    height: 30dvh;
    background-color: #ffffff;
  }
}
